body {
    background-color: #e4e2e0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.scoreboard {
    text-align: center;
    margin: 25px;
}

.gameboard {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: space-around;
    margin: auto 25%;
}

.card {
    background-color: #fafaf9;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    height: 100px;
    text-align: center;
    transition: all .5s;
    color: darkgrey;
    padding-top: 30px;
    font-size: 48px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h1 {
    background-color: gray;
    color: #fafaf9;
    margin: 0 0 25px 0;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
}

button {
    background-color: grey;
    color: #fafaf9;
    border: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 9px;
    font-size: 16px;
    outline: 0;
    transition: all 0.2s ease-in;
}

button:active {
    background-color: #fafaf9;
    color:grey;    
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
